---
import EmailButton from "./EmailButton.astro";
import GithubButton from "./GithubButton.astro";
import LinkedinButton from "./LinkedinButton.astro";
import WhatsAppButton from "./WhatsAppButton.astro";
---

<div class="mb-32">
  <div class="flex gap-8">
    <img class="rounded-full w-24 h-24" src="./foto_perfil.png" alt="avatar" />
    <h1 class="text-gradient text-5xl md:text-7xl">Ariel Martinez</h1>
  </div>
  <div class="flex flex-col md:flex-row gap-8">
    <h2 class="text-yellow-500 font-semibold text-2xl ml-32 mt-2">Desarrollador Web</h2>
    <div class="flex gap-2 ml-6">
      <LinkedinButton />
      <EmailButton/>
      <WhatsAppButton/>
      <GithubButton/>
    </div>
  </div>
  
  <p class="text-wrap px-8 mt-8">
    Me gusta crear sitios web y aplicaciones. En continuo apredizaje de nuevas
    tecnologías. Me destaco en el desarrollo Frontend. Con experiencia en <span
      class="font-bold text-slate-200"
      >HTML, CSS, JavaScript, React, Next, Astro, Tailwind.</span
    >
  </p>
  <p class="text-wrap px-8">
    Tengo varios proyectos realizados tanto de forma individual como trabajando
    con otros desarrolladores.
  </p>
  <p class="text-wrap px-8">
    Como Fullstack también adquirí conocimientos de <span
      class="font-bold text-slate-200"
      >Node, Express, MongoDB, MySql, entre otras tecnologías.</span
    >
  </p>
  
  
  
  
</div>