<div class="my-12">
  <div class="flex gap-4 my-8 animate-pulse">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-code"
      width="40"
      height="40"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M7 8l-4 4l4 4"></path><path d="M17 8l4 4l-4 4"></path><path
        d="M14 4l-4 16"></path></svg
    >
    <h2 class="text-2xl mt-1">Portfolio</h2>
  </div>
  <div class="mockup-browser bg-base-300 mt-16 md:w-2/3 mx-auto hover:opacity-80 hover:shadow-md hover:translate-x-2 transition-all hover:shadow-green-400">
    <div class="mockup-browser-toolbar">
      <div class="input invisible md:visible" >https://portfolio.empren.dev/</div>
    </div>
    <div class="flex justify-center">
      <a href="https://portfolio.empren.dev/" target="_blank"> <img src="./portfolio.png"/ ></a>
    </div>
  </div>
</div>