---
const { title } = Astro.props;
import "@fontsource/russo-one";
import "@fontsource-variable/onest";
---

<!doctype html>
<html lang="en" class="bg-gradient-to-br from-black via-blue-800 to-violet-600">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body >
    <slot />
  </body>
</html>
<style is:global>

  body {
    margin-top: 4rem;
  }
  h1 {
    font-weight: 700;
    line-height: 1;
    text-align: start;
    font-family: "Russo One", sans-serif;
  }
  h2,
  p {
    font-family: "Onest Variable", sans-serif;
  }
</style>
